
.vs/clearly-backend/v16/Server/sqlite3/db.lock
.DS_Store
.idea/.idea.clearly-backend/.idea/contentModel.xml
.idea/.idea.clearly-backend/.idea/encodings.xml
.idea/.idea.clearly-backend/.idea/indexLayout.xml
.idea/.idea.clearly-backend/.idea/modules.xml
.idea/.idea.clearly-backend/.idea/projectSettingsUpdater.xml
.idea/.idea.clearly-backend/.idea/vcs.xml
.idea/.idea.clearly-backend/riderModule.iml
ClearlyApi/obj/ClearlyApi.csproj.nuget.cache
ClearlyApi/obj/ClearlyApi.csproj.nuget.dgspec.json
ClearlyApi/obj/ClearlyApi.csproj.nuget.g.props
ClearlyApi/obj/ClearlyApi.csproj.nuget.g.targets
ClearlyApi/obj/Debug/netcoreapp2.2/ClearlyApi.AssemblyInfo.cs
ClearlyApi/obj/Debug/netcoreapp2.2/ClearlyApi.assets.cache
ClearlyApi/obj/Debug/netcoreapp2.2/ClearlyApi.csprojAssemblyReference.cache
ClearlyApi/obj/project.assets.json
ClearlyApi/obj/project.packagespec.json
SmsSender/obj/Debug/netcoreapp2.2/SmsSender.assets.cache
SmsSender/obj/Debug/netcoreapp2.2/SmsSender.csprojAssemblyReference.cache
SmsSender/obj/project.assets.json
SmsSender/obj/project.packagespec.json
SmsSender/obj/SmsSender.csproj.nuget.cache
SmsSender/obj/SmsSender.csproj.nuget.dgspec.json
SmsSender/obj/SmsSender.csproj.nuget.g.props
SmsSender/obj/SmsSender.csproj.nuget.g.targets
Utils/obj/Debug/netcoreapp2.2/Utils.AssemblyInfo.cs
Utils/obj/Debug/netcoreapp2.2/Utils.assets.cache
Utils/obj/project.assets.json
Utils/obj/project.packagespec.json
Utils/obj/Utils.csproj.nuget.cache
Utils/obj/Utils.csproj.nuget.dgspec.json
Utils/obj/Utils.csproj.nuget.g.props
Utils/obj/Utils.csproj.nuget.g.targets
ClearlyApi/obj/ClearlyApi.csproj.nuget.cache
ClearlyApi/obj/ClearlyApi.csproj.nuget.dgspec.json
ClearlyApi/obj/ClearlyApi.csproj.nuget.g.props
ClearlyApi/obj/ClearlyApi.csproj.nuget.g.targets
ClearlyApi/obj/Debug/netcoreapp2.2/ClearlyApi.AssemblyInfo.cs
ClearlyApi/obj/Debug/netcoreapp2.2/ClearlyApi.assets.cache
ClearlyApi/obj/Debug/netcoreapp2.2/ClearlyApi.csprojAssemblyReference.cache
ClearlyApi/obj/project.assets.json
ClearlyApi/obj/project.packagespec.json
SmsSender/obj/Debug/netcoreapp2.2/SmsSender.assets.cache
SmsSender/obj/Debug/netcoreapp2.2/SmsSender.csprojAssemblyReference.cache
SmsSender/obj/project.assets.json
SmsSender/obj/project.packagespec.json
SmsSender/obj/SmsSender.csproj.nuget.cache
SmsSender/obj/SmsSender.csproj.nuget.dgspec.json
SmsSender/obj/SmsSender.csproj.nuget.g.props
SmsSender/obj/SmsSender.csproj.nuget.g.targets
Utils/obj/Debug/netcoreapp2.2/Utils.AssemblyInfo.cs
Utils/obj/Debug/netcoreapp2.2/Utils.assets.cache
Utils/obj/project.assets.json
Utils/obj/project.packagespec.json
Utils/obj/Utils.csproj.nuget.cache
Utils/obj/Utils.csproj.nuget.dgspec.json
Utils/obj/Utils.csproj.nuget.g.props
Utils/obj/Utils.csproj.nuget.g.targets
ClearlyApi/obj/ClearlyApi.csproj.nuget.cache
ClearlyApi/obj/ClearlyApi.csproj.nuget.dgspec.json
ClearlyApi/obj/ClearlyApi.csproj.nuget.g.props
ClearlyApi/obj/ClearlyApi.csproj.nuget.g.targets
ClearlyApi/obj/Debug/netcoreapp2.2/ClearlyApi.AssemblyInfo.cs
ClearlyApi/obj/Debug/netcoreapp2.2/ClearlyApi.assets.cache
ClearlyApi/obj/Debug/netcoreapp2.2/ClearlyApi.csprojAssemblyReference.cache
ClearlyApi/obj/project.assets.json
ClearlyApi/obj/project.packagespec.json
SmsSender/obj/Debug/netcoreapp2.2/SmsSender.assets.cache
SmsSender/obj/Debug/netcoreapp2.2/SmsSender.csprojAssemblyReference.cache
SmsSender/obj/project.assets.json
SmsSender/obj/project.packagespec.json
SmsSender/obj/SmsSender.csproj.nuget.cache
SmsSender/obj/SmsSender.csproj.nuget.dgspec.json
SmsSender/obj/SmsSender.csproj.nuget.g.props
SmsSender/obj/SmsSender.csproj.nuget.g.targets
Utils/obj/Debug/netcoreapp2.2/Utils.AssemblyInfo.cs
Utils/obj/Debug/netcoreapp2.2/Utils.assets.cache
Utils/obj/project.assets.json
Utils/obj/project.packagespec.json
Utils/obj/Utils.csproj.nuget.cache
Utils/obj/Utils.csproj.nuget.dgspec.json
Utils/obj/Utils.csproj.nuget.g.props
Utils/obj/Utils.csproj.nuget.g.targets
ClearlyApi/obj/ClearlyApi.csproj.nuget.cache
ClearlyApi/obj/ClearlyApi.csproj.nuget.cache
ClearlyApi/obj/ClearlyApi.csproj.nuget.dgspec.json
ClearlyApi/obj/ClearlyApi.csproj.nuget.g.props
ClearlyApi/obj/ClearlyApi.csproj.nuget.g.targets
ClearlyApi/obj/project.assets.json
